<footer>
    <div class="links">
        <a href=""><img src="img/github.png" alt="github"></a>
        <a href=""><img src="img/discord.png" alt="discord"></a>
    </div>
    <div class="rights">
        <span class="footer-text">2022 RandomName_Team</span>
        <span class="footer-text">all rights reserved</span>
    </div>
</footer>