@font-face {
    font-family: Anonymous Pro;
    src: url("fonts/AnonymousPro/AnonymousPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Anonymous Pro;
    src: url("fonts/AnonymousPro/AnonymousPro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Anonymous Pro;
    src: url("fonts/AnonymousPro/AnonymousPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Anonymous Pro;
    src: url("fonts/AnonymousPro/AnonymousPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


html, body {
    color: black;
    font-family: Anonymous Pro, serif;
    /*background-color: pink;*/
    height: 100%;
    margin: 0;
}
canvas
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

main input {
    padding: 5px 10px;
    border: none;
}

main input#submit {
    text-transform: uppercase;
    background-color: #00ffea;
    transition: background-color 0.1s linear 0s;
}

main input#submit:hover {
    background-color: #b5fff7;
    cursor: pointer;
}

.options {
    font-weight: bold;
    width: 95%;
    margin: 20px 0;
    text-align: right;
    cursor: pointer;
    user-select: none;
}

footer {
    width: min(350px, 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    padding: 20px 5px;
}

.links img {
    width: 40px;
}

.pop-up {
    display: flex;
    position: absolute;
    padding: 0 10px;
    width: min(500px, calc(100% - 20px));
    height: auto;
    background-color: white;
    flex-direction: column;
    justify-items: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 1;
    transition: all .5s ease-in 0s;
}

.pop-up.hidden {
    top: -20%;
    opacity: 0;
}